<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Namasdre - Yoga & Wellness{% endblock %}</title>
    <meta charset="utf-8" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'shared/css/main.css' %}" />
    <!-- Additional shared CSS or JS files can be included here -->
  </head>
  <body>
    <!-- Placeholder for Navbar -->
    <nav id="navbar">
      <div id="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul id="menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Booking Portal</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>

    {% block content %}
    <!-- This block will be overridden by child templates -->
    {% endblock %}

    <!-- Scripts -->
    <script src="{% static 'shared/js/jquery.min.js' %}"></script>
    <script src="{% static 'shared/js/skel.min.js' %}"></script>
    <script src="{% static 'shared/js/util.js' %}"></script>
    <script src="{% static 'shared/js/main.js' %}"></script>
    <script src="{% static 'shared/js/navbar.js' %}"></script>
  </body>
</html>
