{% extends 'shared/base.html' %}
{% load static %}
{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="register-container">
    <h2>Register</h2>
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username|as_crispy_field }}
        {{ form.email|as_crispy_field }}
        {{ form.password1|as_crispy_field }}
        {{ form.password2|as_crispy_field }}
        <div class="form-group">
            <label for="{{ form.medical_conditions.id_for_label }}" class="medical-conditions-input-label">
                {{ form.medical_conditions.label }}
            </label>
            {{ form.medical_conditions|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}

{% comment %}
setup for registration taken from https://www.techwithtim.net/tutorials/django/user-registration
{% endcomment %}
