{% extends "shared/base.html" %}
{% load static %}
{% block title %}Namasdre - Yoga & Wellness Booking Portal{% endblock %}
{% block content %}
<header id="header" class="alt">
  <div class="inner">
    <h1>Namasdre</h1>
    <p id="page-title">Booking Portal</p>
  </div>
</header>
<div class="timetable-container custom-timetable">
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <h2 class="classType">Online Classes</h2>
    <div class="class-list">
      {% if online_classes %}
        {% for class in online_classes %}
        <div class="{% if class.start_time < now %}finished-class-item{% else %}class-item{% endif %}">
          <p class="class-datetime">
            {{ class.start_time|date:"l, d F" }}<br>
            {{ class.start_time|time:"g:i A" }} – {{ class.end_time|time:"g:i A" }}
          </p>
          <p class="class-title"><b>
            {{ class.title }}
          </b>
          </p>
          <p class="class-location">
            {{ class.location }}
          </p>
          <div class="actions">
            <button type="button" class="button big" onclick="bookClass({{ class.id }})">Register for class</button>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No upcoming online classes</p>
      {% endif %}
    </div>

    <h2 class="classType">In Person Classes</h2>
    <div class="class-list">
      {% if in_person_classes %}
        {% for class in in_person_classes %}
        <div class="{% if class.start_time < now %}finished-class-item{% else %}class-item{% endif %}">
          <p class="class-datetime">
            {{ class.start_time|date:"l, d F" }}<br>
            {{ class.start_time|time:"g:i A" }} – {{ class.end_time|time:"g:i A" }}
          </p>
          <p class="class-title"><b>
            {{ class.title }}</b>
          </p>
          <p class="class-location">
            {{ class.location }}
          </p>
          <div class="actions">
            <button type="button" class="button big" onclick="bookClass({{ class.id }})">Click here to add this class to your profile</button>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No upcoming in-person classes</p>
      {% endif %}
    </div>
  </form>
</div>

<div class="popup-message" id="popup-message"></div>

{% endblock %}
