{% extends "shared/base.html" %}
{% load static %}
{% block title %}Namasdre - Yoga & Wellness Booking Portal{% endblock %}
{% block content %}
<header id="header" class="alt">
  <div class="inner">
    <h1>Namasdre</h1>
    <p id="page-title">Booking Portal</p>
  </div>
</header>
<div class="timetable-container custom-timetable">
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <h2 class="classType">Online Classes</h2>
    <div class="class-list">
      {% if online_classes %}
        {% for class in online_classes %}
        <div class="{% if class.start_time < now %}finished-class-item{% else %}class-item{% endif %}">
          <p class="class-datetime">
            {{ class.start_time|date:"l, d F" }}<br>
            {{ class.start_time|time:"g:i A" }} – {{ class.end_time|time:"g:i A" }}
          </p>
          <p class="class-title"><b>
            {{ class.title }}
          </b>
          </p>
          <p class="class-location">
            {{ class.location }}
          </p>
          <div class="actions">
            <button type="button" class="button big" onclick="bookClass({{ class.id }})">Register for class</button>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No upcoming online classes</p>
      {% endif %}
    </div>

    <h2 class="classType">In Person Classes</h2>
    <div class="class-list">
      {% if in_person_classes %}
        {% for class in in_person_classes %}
        <div class="{% if class.start_time < now %}finished-class-item{% else %}class-item{% endif %}">
          <p class="class-datetime">
            {{ class.start_time|date:"l, d F" }}<br>
            {{ class.start_time|time:"g:i A" }} – {{ class.end_time|time:"g:i A" }}
          </p>
          <p class="class-title"><b>
            {{ class.title }}</b>
          </p>
          <p class="class-location">
            {{ class.location }}
          </p>
          <div class="actions">
            <button type="button" class="button big" onclick="bookClass({{ class.id }})">Click here to add this class to your profile!</button>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No upcoming in-person classes</p>
      {% endif %}
    </div>
  </form>
</div>

<div class="popup-message" id="popup-message"></div>

<style>
.popup-message {
  position: fixed;
  {% comment %} top: 20px; {% endcomment %}
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Initially hidden */
}
.popup-message.show {
  display: block; /* Show when the class is added */
}
</style>

<script>
  function bookClass(classId) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch('/add_class_to_profile/' + classId + '/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({}),
    })
    .then(response => response.json())
    .then(data => {
      showPopupMessage(data.message);
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
  

function showPopupMessage(message) {
  const popup = document.getElementById("popup-message");
  popup.innerText = message;
  popup.classList.add("show");
  setTimeout(function() {
    popup.classList.remove("show");
  }, 3000);

  document.addEventListener("click", function() {
    popup.classList.remove("show");
  });
}
</script>
{% endblock %}
