{% extends "shared/base.html" %}
{% load static %}
{% block title %}Namasdre - Yoga & Coaching Contact{% endblock %}
{% block content %}
<header id="header" class="alt">
  <div class="inner">
    <h1><a href="/">Namasdre</a></h1>
    <p id="page-title">Contact Details</p>
  </div>
</header>
<div class="contact-container">
  <h1>Contact Us</h1>
  <p class="contact_paragraphs">
    Feel free to reach out to us for any inquiries or to book any group or private sessions.
  </p>
  <div class="contact-info">
    <h2>Phone Number</h2>
    <p class="contact_paragraphs">
      <a href="tel:0838342511">083 834 2511</a>
    </p>

    <h2>Email</h2>
    <p class="contact_paragraphs">
      <a href="mailto:namasdreinfo@gmail.com">namasdreinfo@gmail.com</a>
    </p>

    <h2>Follow Us on Instagram</h2>
    <ul class="social-icons">
      <li>
        <a href="https://www.instagram.com/namasdreyoga/?igsh=ZTY5d3RrdmxraGI2" target="_blank" rel="noopener noreferrer" class="icon fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
    </ul>
  </div>

  <div class="contact-form">
    <h2>Send Us a Message</h2>
    <form action="mailto:namasdreinfo@gmail.com" method="post" enctype="text/plain">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="6" required></textarea>
      </div>
      <div class="actions">
        <button type="submit" class="button big">Send Message</button>
      </div>
    </form>
  </div>
</div>

<!-- Popup Message -->
{% if messages %}
<div class="popup-overlay" style="display: none;">
  <div class="popup">
    <p class="popup-message-content">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </p>
    <button class="close-popup-button">Close</button>
  </div>
</div>
{% endif %}
{% endblock %}
