{% extends "shared/base.html" %}
{% load static %}
{% block title %}Namasdre - Your Profile{% endblock %}
{% block content %}
<header id="header" class="alt">
  <div class="inner">
    <h1>Namasdre</h1>
    <p id="page-title">Your Profile</p>
  </div>
</header>
<div class="timetable-container custom-timetable">
  <h2>Namaste {{ user.first_name }}</h2>
  <p>Medical Conditions: {{ user.profile.medical_conditions }}</p>
  <p>Update your user information <a href="{% url 'update_profile' %}" style="color: blue;">here</a>.</p>
  <h2 class="classType">Your Booked Classes</h2>
  <div class="class-list">
    {% if booked_classes %}
      {% for booking in booked_classes %}
      <div class="class-item" id="class-item-{{ booking.id }}">
        <div class="class-info">
          <p class="class-datetime">
            {{ booking.yoga_class.start_time|date:"l, F d" }}<br>
            {{ booking.yoga_class.start_time|time:"g:i A" }} – {{ booking.yoga_class.end_time|time:"g:i A" }}
          </p>
          <p class="class-title">{{ booking.yoga_class.title }}</p>
          <p class="class-location">{{ booking.yoga_class.location }}</p>
        </div>
        <div class="cancel-button-container">
          <button type="button" class="cancel-button" onclick="cancelBooking({{ booking.id }})">Cancel Booking</button>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>You have not booked any classes yet.</p>
    {% endif %}
  </div>
</div>
<div id="popup-message" class="popup-message"></div>
{% endblock %}
