{% extends "shared/base.html" %}
{% load static %}
{% block title %}Namasdre - Yoga & Wellness Timetable{% endblock %}
{% block content %}
<header id="header" class="alt">
  <div class="inner">
    <h1>Namasdre</h1>
    <p id="page-title">Class Timetable</p>
  </div>
</header>
<div class="timetable-container custom-timetable">
  {% comment %} <h1 class="classTimetableH1">Class Timetable</h1> {% endcomment %}

  <h2 class="classType">Online Classes</h2>
  <div class="class-list">
    {% if online_classes %}
      {% for class in online_classes %}
      <div class="{% if class.start_time < now %}finished-class-item{% else %}class-item{% endif %}">
        <p class="class-datetime">
          {{ class.start_time|date:"l, F d" }}<br>
          {{ class.start_time|time:"g:i A" }} – {{ class.end_time|time:"g:i A" }}
        </p>
        <p class="class-title">
          <b>{{ class.title }}</b>
        </p>
        <p class="class-location">
          {{ class.location }}
        </p>
        {% if class.start_time < now %}
          <p id="finished-message">This class has already started / finished.</p>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <p>No upcoming online classes</p>
    {% endif %}
  </div>

  <h2 class="classType">In Person Classes</h2>
  <div class="class-list">
    {% if in_person_classes %}
      {% for class in in_person_classes %}
      <div class="{% if class.start_time < now %}finished-class-item{% else %}class-item{% endif %}">
        <p class="class-datetime">
          {{ class.start_time|date:"l, F d" }}<br>
          {{ class.start_time|time:"g:i A" }} – {{ class.end_time|time:"g:i A" }}
        </p>
        <p class="class-title"><b>
          {{ class.title }}</b>
        </p>
        <p class="class-location">
          {{ class.location }}
        </p>
        {% if class.start_time < now %}
          <p id="finished-message">This class has already started / finished.</p>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <p>No upcoming in-person classes</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% comment %} <p>
  {{ class.start_time|date:"D, M d" }}: {{ class.title }} at {{ class.location }} ({{ class.start_time|time:"g:i A" }} - {{ class.end_time|time:"g:i A" }})
</p> {% endcomment %}